## ## /etc/systemd/system/hive-metastore.service
## Do not forget to change the PID directory

[Unit]
Description=Hive Server Metastore
# After=syslog.target network.target remote-fs.target nss-lookup.target network-online.target hdfs.service yarn.service
After=syslog.target network.target remote-fs.target nss-lookup.target network-online.target
Requires=network-online.target

[Service]
User={{ hive_user }}
Group={{ hive_user }}
Type=simple
Environment="HADOOP_HOME={{ install_hadoop_dir }}/{{ install_hadoop_file }}"
Environment="HADOOP_CONF_DIR=$HADOOP_HOME/etc/hadoop"
ExecStart=/bin/bash -lc '{{ install_hadoop_dir }}/apache-{{ install_hive_file }}-bin/bin/hive --service metastore --verbose >>/tmp/hivemetastore.log 2>&1'
# ExecStart=/bin/bash -lc '{{ install_hadoop_dir }}/apache-{{ install_hive_file }}-bin/bin/hive --service metastore --verbose >/tmp/hivemetastore-$(date "+%Y%m%d%H%M%S").log 2>&1'
WorkingDirectory={{ install_hadoop_dir }}/apache-{{ install_hive_file }}-bin/bin
TimeoutStartSec=5min
# Restart=on-failure
Restart=no
# PIDFile={{ install_hadoop_dir }}/apache-{{ install_hive_file }}-bin/conf/metastore.pid

[Install]
WantedBy=multi-user.target
